[submodule "apps/regrade"]
	path = apps/regrade
	url = https://github.com/GoldenCarrotMLP/regrade-web
	branch = main
[submodule "apps/nginx-1.25.2/quictls"]
	path = apps/nginx-1.25.2/quictls
	url = https://github.com/quictls/openssl
	branch = main
[submodule "apps/nginx-1.25.2/ngx_brotli"]
	path = apps/nginx-1.25.2/ngx_brotli
	url = https://github.com/google/ngx_brotli
	branch = main
[submodule "apps/supabase"]
	path = apps/supabase
	url = https://github.com/GoldenCarrotMLP/supabase.git
