# Ignore everything by default
*

# Keep this .gitignore
!.gitignore
!nginx.conf
# -----------------------------
# Keep Nginx config directories
# -----------------------------
!sites-available/
!sites-available/**

# -----------------------------
# Keep fallback certs (required for first boot)
# -----------------------------
!ssl
!ssl/fallback.fullchain.pem
!ssl/fallback.privkey.pem
!ssl/update-certs.sh
!ssl/init.sh

# Ignore real Let's Encrypt certs
!letsencrypt
!letsencrypt/bootstrap-certbot.sh
!letsencrypt/ssl-dhparams.pem
!letsencrypt/options-ssl-nginx.conf

# -----------------------------
# Keep certbot-www directory structure
# -----------------------------
!certbot-www/
!certbot-www/.well-known/

# Ignore ACME challenge files
certbot-www/.well-known/*
